.App {
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(178, 178, 178);
    min-height: 100vh;
}

footer {
    font-size: 0.75rem;
    color: rgb(60, 64, 72);
    text-align: center;

}

a {
    text-decoration: none;
    color: rgb(0, 171, 179);
}